@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600&family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color: black;

}

*{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    margin-bottom: 15px;
    box-sizing: border-box;
    outline:none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;

}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(black);

}

.header{
    background: var(black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--black);
    position: fixed;
    top: 0; left: 0; right: 0;

}

.header .logo img{
    height: 6rem;

}

.header .navbar a{
    margin: 0.1rem;
    font-size: 2rem;
    color: #fff;
    padding: 15px;
}

.header .navbar a:hover{
    color: coral;
    border-bottom: .1rem solid coral;
    padding-bottom: .5rem;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: coral;

}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 115%;right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form .active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: black;
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: black;

}

.header .search-form label:hover{
    color: coral;
}

@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
}

@media (max-width: 768px){
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%;right:-100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar .active{
        right: 0;

    }

    .header .navbar a{
        display: block;
        margin: 1.5rem;
        padding: 5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
}