<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.1.9/build/spline-viewer.js"></script>
<spline-viewer url="https://prod.spline.design/DHe5Ri2Zr5Z3fNru/scene.splinecode" class="spline"></spline-viewer>
    <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">
            <img src="../static/logo.png" alt="Logo">
        </a>

        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="about">About Us</a>
            <a href="contact-us">Contact Us</a>
            <a href="#services">Services</a>
        </nav>

        <div class="icons">
            <div class="fas fa-search" id="search-btn"  ></div>
            <div class="fas fa-bars" id="menu-btn"></div>
        </div>

        <div class="search-form">
            <input type="search" id="search-box" placeholder="search here...">
            <label for="search-box" class="fas fa-search"></label>
        </div>
    </header>
    

    <script src="../static/index.js"></script>
</body>
</html>